@use "../foundation/color" as c;

.l-footer {
    margin: 50px 0 0;
    background-color: c.$white;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, transparent, c.$main);
    }

    &__inner {
        width: 100%;
        margin: 0 auto;
        padding: 50px 5% 100px;
        background: linear-gradient(to bottom, c.$main, c.$sub);
    }

    &__link {
        width: 60%;
        display: block;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__desc {
        margin: 20px 0 100px;
        color: c.$white;
    }

    &__hours {
        margin: 50px 0 0;
        color: c.$white;
    }

    &__nav {
        margin: 50px 0 0;
    }

    &__list {
        list-style: none;
        display: grid;
        gap: 20px;
        color: c.$white;
    }

    &__item {
    }

    &__menu {
        display: grid;
        text-decoration: none;
    }

    &__jp {
        font-size: 1.1em;
    }

    &__en {
        font-size: 0.6em;
    }
}
