@use "../foundation/color" as c;

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(c.$black, 0.4) 60%, transparent);
    width: 100%;
    padding: 20px;

    &__link {
        display: block;
        width: 100%;
        max-width: 250px;
    }

    &__img {
        display: block;
        width: 100%;
    }
}
