@use "../foundation/color" as c;

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(c.$black, 0.4) 60%, transparent);
    width: 100%;
    padding: 20px;
    z-index: 500;

    &__link {
        display: block;
        width: 100%;
        max-width: 250px;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &-burger {
        display: flex;
        width: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &__line {
            display: block;
            border-top: 1px c.$white solid;
            width: 50%;
        }
    }
}
