@use "../../foundation/color" as c;

.p-top-hero {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: url("../img/fv.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: c.$white;
        padding: 80px 0 50px;
        justify-content: space-between;
    }

    &__catch {
        writing-mode: vertical-rl;
        font-size: 3em;
        text-shadow: 1px 1px 5px c.$black;

        span {
            display: inline-block;
        }
    }

    &__title {
        font-size: 2em;
        text-align: right;
        text-shadow: 1px 1px 5px c.$black;
    }
}

.p-top-season-menu {
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url("../img/top/sakura.jpg");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
    }

    &__list {
        display: grid;
        list-style: none;
        gap: 20px;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0;
    }
}

.p-top-menu {
    background-image: url("../img/top/menu-bg.png");
    background-repeat: repeat-y;
    background-position: center top;
    background-size: cover;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        list-style: none;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0;
    }
}

.p-top-about {
    position: relative;
    color: c.$white;
    z-index: 0;
    text-shadow: 1px 1px 5px c.$black;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("./../img/top/about-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: c.$black;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__desc {
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin: 50px 0 0;
    }
}

.p-top-access {
    background-color: c.$white;

    &__content {
    }

    &__list {
        padding: 0 0 0 2em;
        display: grid;
        gap: 10px;
    }

    &__map {
        width: 100%;
        aspect-ratio: 4 / 3;
        background-color: c.$gray;
        margin: 50px 0 20px;
    }
}

.p-top-information {
    background-image: url("./../img/top/information-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // color: c.$white;
    // text-shadow: 1px 1px 5px c.$black;

    &__inner {
        padding: 20px;
        backdrop-filter: blur(10px) brightness(120%);
        background-color: rgba(c.$white, 0.5);
    }

    &__wrap {
        display: grid;
        list-style: none;
        gap: 20px;
    }

    &__item {
        text-decoration: none;
        display: flex;
        gap: 0.5em;
        align-items: center;

        &::after {
            content: "";
            display: block;
            border-left: 0.5em c.$black solid;
            border-top: 0.25em transparent solid;
            border-bottom: 0.25em transparent solid;
        }
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin: 50px 0 0;
    }
}

.p-top-reserve {
    background-color: c.$white;

    &__link {
        display: flex;
        justify-content: flex-end;
        margin: 50px 0 0;
    }
}
